@import url(../vendor/normalize.css);

:root {
  --index: calc(1vw + 1vh);
  --bg-color: #1a191f;
}

.page {
  width: 100%;
  height: 100%;
  min-width: 320px;
  background-color: var(--bg-color);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.page__content {
  width: calc(100% - 50px);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 28px 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.page__header {
  margin: 0 0 30px;
}

.header__title {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
}

.header__form {
  align-self: center;
}

.header__search {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 18px;
  width: 300px;
}

.movies {
  width: calc(100% - 100px);
  margin: 0 auto;
  flex-grow: 1;
}

.movies__card {
  position: relative;
  width: 240px;
}

.movies__title {
  margin: 0 0 12px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.movies__genre {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffa500;
}

.movies__image {
  position: relative;
  width: 100%;
  height: 360px;
  margin: 0 0 14px;
  border-radius: 10px;
  cursor: pointer;
}

.movies__image:hover {
  opacity: .5;
}

.movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #353535;
  background-color: #353535;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  z-index: 100;
}

.movie__average-green {
  border: 2px solid #31d409;
}

.movie__average-orange {
  border: 2px solid #ffa500;
}

.movie__average-red {
  border: 2px solid #ff0000;
}

.movies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.loader {
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 180px 0;
}

.loader__circle {
  margin: 0 auto;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  position: relative;
  background: linear-gradient(0deg, rgba(51, 122, 183, 0.2) 33%, #337AB7 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader_visible {
  display: block;
}

.loader__circle::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #1a191f;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.popup_opened {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  background-color: rgba(0, 0, 0, .5);
  color: #000;
  z-index: 500;
}

.popup__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 700px;
  height: calc(100% - 60px);
  overflow-y: auto;
  box-sizing: border-box;
  padding: 40px 20px;
  background-color: var(--bg-color);
  border-radius: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.popup__container::-webkit-scrollbar {
  border-radius: 6px;
  background-color: #CECECE;
  width: 8px;
}

.popup__container::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #323235;
}

.popup__image {
  display: block;
  width: 180px;
  height: 280px;
  margin: 0 auto 10px;
}

.popup__subtitle {
  margin: 0;
  max-width: calc(100% - 30px);
  text-align: center;
  font-size: 22px;
  line-height: 22px;
}

.popup__list {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  padding-inline-start: 25px;
}

.popup__item {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.popup__item:not(:last-of-type) {
  margin: 0 0 10px 0;
}

.popup__item_hidden {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.popup__close {
  box-sizing: border-box;
  min-width: 150px;
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 18px;
}

.popup__close:hover {
  cursor: pointer;
  opacity: .8;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@media (max-width: 825px) {

  .header__title {
    font-size: 26px;
  }

  .movies__list {
    gap: 20px 20px;
  }

  .movies {
    width: 100%;
  }

  .movies__image {
    height: 320px;
  }

}

@media (max-width: 500px) {

  .header {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .header__form {
    width: 100%;
  }

  .header__search {
    display: block;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px 10px;
    font-size: 16px;
    line-height: 18px;
  }

  .movies__list {
    gap: 35px;
  }

  .movies__title {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 18px;
  }
  
  .movies__genre {
    font-size: 14px;
    line-height: 16px;
  }

  .popup__container {
    padding: 15px;
  }

  .popup__image {
    width: 150px;
    height: 250px;
  }
  
  .popup__subtitle {
    font-size: 16px;
    line-height: 18px;
  }
  
  .popup__list {
    font-size: 12px;
    line-height: 16px;
    padding-inline-start: 15px;
  }
  
  .popup__item {
    font-size: 12px;
    line-height: 16px;
  }

  .popup__close {
    padding: 6px 15px;
    font-size: 12px;
    line-height: 16px;
  }
}